@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --dark-bg: #1F2937;
    --light-main-text: #F9FAF8;
    --light-secondary-text: #E5E7EB;
    --button-cta-color: #3882F6;
    --dark-main-text: #1F2937;
    --dark-secondary-text: #65676B;
    --quote-bg: #E5E7EB;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    padding: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    color: var(--light-main-text);
    font-size: 24px;
}

.headerlinks {
    display: flex;
    gap: 15px;
    list-style: none;    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-secondary-text);
}

.firstcontent {
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}

.firstleft {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-left: 10vw;
}

.firstright {
    width: 40vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstrightimg {
    padding: 10px;
}

.topbutton {
    all: unset;
    width: 5vw;
    background-color: var(--button-cta-color);
    color: var(--light-main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px;
}

.hero {
    color: var(--light-main-text);
    font-size: 48px;
    font-weight: 900;
}

.herosub {
    font-size: 18px;
    color: var(--light-secondary-text);
}

.secondcontent {
    background-color: var(--light-main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.secondheading {
    padding: 20px;
    font-weight: 900;
    font-size: 24px;
    text-shadow: 0.5px 0 black;
}

.boxes {
    display: flex;
    font-size: 18px;
    color: var(--dark-main-text);
    gap: calc(10vw/3);
    justify-content: space-evenly;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;;
}

.box {
    outline: 2.5px solid var(--button-cta-color);
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    color: var(--dark-secondary-text);
}

.thirdcontent {
    background-color: var(--quote-bg);
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

.quotetext {
    color: var(--dark-main-text);
    font-size: 36px;
    font-weight: 100;
}

.quotetag {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0.5px;
}

.fourthcontent {
    background-color: var(--light-main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.calltoaction {
    background-color: var(--button-cta-color);
    padding: 2.5vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    width: 80vw;
}

.ctaone {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.ctamaintext, .ctasubtext {
    color: var(--light-main-text);
}

.ctamaintext {
    font-weight: 900;
}

.ctatwo {
    outline: 2px solid var(--light-secondary-text);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg);
    color: var(--light-main-text);
    min-height: 100px;
    margin-bottom: auto;
}

.wapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}