@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* --dark-bg: #1F2937;
    --light-main-text: #F9FAF8;
    --light-secondary-text: #E5E7EB;
    --button-cta-color: #3882F6;
    --dark-main-text: #1F2937;
    --dark-secondary-text: #65676B;
    --quote-bg: #E5E7EB; */

    --dark-bg: #111418;
    --light-main-text: #E8ECF2;
    --light-secondary-text: #A7B0BF;
    --button-cta-color: #4EC5E8;
    --dark-main-text: #DCE3EA;
    --dark-secondary-text: #7F8A99;
    --quote-bg: #1A1E23;

    --onaccent: #df4641;
    --onaccentopp: #32a541;
}

html {
    min-height: 100vh;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--onaccent);
    padding: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    font-size: 24px;
}

.headerlinks, a {
    display: flex;
    gap: 15px;
    list-style: none;    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.headerimg {
    height: 40px;
    width: 20.36px;
}

.firstcontent {
    /* background-color: var(--dark-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    background-image: url('https://img.abcdinamo.com/eyJidWNrZXQiOiJwcm9kdWN0aW9uLWFiY2RpbmFtbyIsImtleSI6Im1lZGlhXC9DdXN0b21cL09uXC9EaW5hbW9fVHlwZWZhY2VfQ3VzdG9tX0RpYXR5cGVfT05fUnVubmluZ19Nb29kX09uQ2FtcGFpZ25fMjAyM18zMjAwcHgtMi5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiY29udGFpbiIsIndpZHRoIjoxNjAwfSwidG9Gb3JtYXQiOiJqcGciLCJqcGVnIjp7InF1YWxpdHkiOjkwfSwicm90YXRlIjowfSwidmVyc2lvbiI6MTY5NzExMjczNn0=');
}

.firstleft {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-left: 10vw;
    gap: 15px;
    padding: 30px;
    background-color: black;
    border-radius: 35px;
}

.firstright {
    width: 40vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstrightimg {
    padding: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    outline: 5px solid var(--onaccent);
    outline-offset: -10px;
}

.topbutton {
    all: unset;
    width: 5vw;
    /* background-color: var(--button-cta-color); */
    background-color: var(--onaccent);
    color: var(--light-main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px;
}

.hero {
    color: var(--light-main-text);
    font-size: 48px;
    font-weight: 900;
}

.herosub {
    font-size: 18px;
    color: var(--light-secondary-text);
}

.secondcontent {
    background-color: var(--light-main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

.secondheading {
    padding: 2.25em;
    font-weight: 900;
    font-size: 24px;
    text-shadow: 0.5px 0 black;
}

.boxes {
    display: flex;
    font-size: 18px;
    color: var(--dark-main-text);
    gap: calc(10vw/3);
    justify-content: space-evenly;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;;
}

.box {
    outline: 2.5px solid var(--onaccent);
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    color: var(--onaccentsofter);
}

.thirdcontent {
    background-color: var(--onaccent);
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

.quotetext {
    color: var(--dark-main-text);
    font-size: 36px;
    font-weight: 100;
}

.quotetag {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0.5px;
    color: white;
}

.fourthcontent {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.calltoaction {
    background-color: var(--onaccent);
    padding: 2.5vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    width: 80vw;
}

.ctaone {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.ctamaintext, .ctasubtext {
    color: white;
}

.ctamaintext {
    font-weight: 900;
    font-size: 24px;
}

.ctatwo {
    outline: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--onaccent);
    color: var(--light-main-text);
    min-height: 100px;
    margin-top: auto;
    text-align: center;
    font-size: 18px;
}

.wapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.one {
    background-image: url("https://img.abcdinamo.com/eyJidWNrZXQiOiJwcm9kdWN0aW9uLWFiY2RpbmFtbyIsImtleSI6Im1lZGlhXC9DdXN0b21cL09uXC9EaW5hbW9fVHlwZWZhY2VzX09uX0N1c3RvbV9Gb250X1J1bm5pbmdfT2ZmX01hZ2F6aW5lX0RpYXR5cGVfNi5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiY29udGFpbiIsIndpZHRoIjo0ODB9LCJ0b0Zvcm1hdCI6ImpwZyIsImpwZWciOnsicXVhbGl0eSI6OTB9LCJyb3RhdGUiOjB9LCJ2ZXJzaW9uIjoxNjk3MTkzNDg3fQ==");
    background-position: 60% 25%;
}

.two {
    background-image: url("https://img.abcdinamo.com/eyJidWNrZXQiOiJwcm9kdWN0aW9uLWFiY2RpbmFtbyIsImtleSI6Im1lZGlhXC9DdXN0b21cL09uXC9EaW5hbW9fVHlwZWZhY2VzX09uX0N1c3RvbV9Gb250X1J1bm5pbmdfT2ZmX01hZ2F6aW5lX0RpYXR5cGVfNC5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiY29udGFpbiIsIndpZHRoIjo0ODB9LCJ0b0Zvcm1hdCI6ImpwZyIsImpwZWciOnsicXVhbGl0eSI6OTB9LCJyb3RhdGUiOjB9LCJ2ZXJzaW9uIjoxNjk3MTkzNDg1fQ==");
    background-position: 60% 20%;
}

.three {
    background-image: url("https://img.abcdinamo.com/eyJidWNrZXQiOiJwcm9kdWN0aW9uLWFiY2RpbmFtbyIsImtleSI6Im1lZGlhXC9DdXN0b21cL09uXC9EaW5hbW9fVHlwZWZhY2VfQ3VzdG9tX0RpYXR5cGVfT05fUnVubmluZ19PT0hfTHVrZUxvbmRvbl8yMDIzXzMyMDBweC5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsiZml0IjoiY29udGFpbiIsIndpZHRoIjoxMDI0fSwidG9Gb3JtYXQiOiJqcGciLCJqcGVnIjp7InF1YWxpdHkiOjkwfSwicm90YXRlIjowfSwidmVyc2lvbiI6MTY5NzExOTM5N30=");
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: 150%;
}

.four {
    background-image: url("https://img.abcdinamo.com/eyJidWNrZXQiOiJwcm9kdWN0aW9uLWFiY2RpbmFtbyIsImtleSI6Im1lZGlhXC9DdXN0b21cL09uXC9EaW5hbW9fVHlwZWZhY2VfQ3VzdG9tX0RpYXR5cGVfT05fUnVubmluZ19Nb29kQ2xvdWRzX09uQ2FtcGFpZ25fMjAyM18zMjAwLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJmaXQiOiJjb250YWluIiwid2lkdGgiOjY0MH0sInRvRm9ybWF0IjoianBnIiwianBlZyI6eyJxdWFsaXR5Ijo5MH0sInJvdGF0ZSI6MH0sInZlcnNpb24iOjE2OTcxMDg3MjZ9");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}