@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --dark-bg: #1F2937;
    --light-main-text: #F9FAF8;
    --light-secondary-text: #E5E7EB;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif
}

* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg);
    padding: 5px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--light-main-text);
    font-size: 24px;
}

.headerlinks {
    display: flex;
    gap:15px;
    list-style: none;
    color: var(--light-secondary-text);
}